
    .product{
        display: flex;
        justify-content: space-between;  
        max-width: 1000px; 
        flex-wrap: wrap;
        .item{
           // background-color: aqua;
            width: 30%;
        }

    }
